/* custome css */

.titel-color{
    color: #3E3E3E;
}

#discrption{
    color: #848199;
}

.footer-color{
    color: white;
}

.color{
    color: white;
}

.image{
    height: 300px;
    width: 500px}




@media only screen and (max-width: 600px){
    
#event-caption{
height: 500px
}

.column{
    display: flex;
    flex-direction: column;
}
.sm-image{
  
    height: 150px;
    width: 250px;
}

}